---
import { ClientRouter } from 'astro:transitions';
import '@fontsource/geist-sans';
import '@fontsource/maple-mono';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SEO from '../components/SEO.astro';
import ThemeProvider from '../components/ThemeProvider.astro';
import '../../../styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  lang?: string;
}

const { title, description, image, lang = 'en' } = Astro.props;
---

<html lang={lang}>
	<head>
        <SEO title={title} description={description} image={image} />
        <ClientRouter />
        <ThemeProvider />
	</head>
	<body class="min-h-screen flex flex-col font-sans antialiased bg-background text-foreground transition-colors duration-300">
        <Header lang={lang} />
		<main class="flex-1 container mx-auto px-4 py-8">
            <slot />
        </main>
        <Footer />
	</body>
</html>
