---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import RootLayout from './RootLayout.astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  lang?: string;
}

const { title, description, image, lang = 'en' } = Astro.props;
---

<RootLayout title={title} description={description} image={image} lang={lang} bodyClass="flex flex-col">
    <Header lang={lang} />
    <main class="flex-1 container mx-auto px-4 py-8 relative z-0">
        <slot />
    </main>
    <Footer />
</RootLayout>
